@import './components/Header/Header.module.scss';
@import './components/Footer/Footer.module.scss';
@import './components/MenuPage/MenuCard.module.scss';
@import './components/MenuPage/MenuPage.module.scss';

@import './styles/_variables.scss';

body {
  font-family: $font-family;
  font-weight: 500;
  background-color: $primary-color;
  text-align: center;
}
h1 {
  font-weight: 600;
  font-size: 3rem;
}

.header-container,
.landingpage-container,
.footer-container,
.menupage-container {
  border: 1px solid black;
}
