@import '../../../styles/_variables.scss';

.prev,
.next {
  display: block;
  position: absolute;
  top: 177px;
  font-size: 6.4vw;

  @media (min-width: $layout-breakpoint-small) {
    font-size: 4vw;
    top: 198px;
  }
}

.prev {
  left: 2vw;
  @media (min-width: $layout-breakpoint-small) {
    left: 1vw;
  }
}

.next {
  right: 2vw;
  @media (min-width: $layout-breakpoint-small) {
    right: 1vw;
  }
}
