@import '../../styles/_variables.scss';
//$layout-breakpoint-small: 680px;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px dotted red;
}

.btnContainer {
  flex-direction: row;
}

.cardContainer {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid black;

  @media (min-width: $layout-breakpoint-small) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}


