@import '../../../styles/_variables.scss';
@import '../../../styles/mixins';

.container {
  @include flexCenter;
  background-color: $turquise-color;
  max-width: 500px;
  padding: 0.5rem;
  margin: 0.5rem;

  @media (min-width: $layout-breakpoint-small) {
    flex-direction: row;
  }
}
.img {
  width: 20rem;
  height: auto;
  object-fit: cover;
  margin-top: 0.5rem;
  border: $image-border;

  @media (min-width: $layout-breakpoint-small) {
    width: 10rem;
    height: 12rem;
  }
}
.section {
  @include flex(column);

  @media (min-width: $layout-breakpoint-small) {
    margin: 0 1rem;
  }
}
.titleContainer {
  @include flex(row);
  justify-content: space-between;
  width: 20rem;

  @media (min-width: $layout-breakpoint-small) {
    width: 100%;
  }

  .title {
    text-transform: capitalize;
  }
}
.desc {
  width: 20rem;
  text-align: initial;

  &::first-letter {
    text-transform: capitalize;
  }

  @media (min-width: $layout-breakpoint-small) {
    width: 100%;
  }
}
