@import '../../styles/_variables.scss';

.footerContainer {
  background-color: $dark-color;
  color: $base-color;
  padding: 1rem;
  margin: 0;
}
.logo {
  color: $base-color;
  text-decoration: overline;
}
