@import '../../../styles/_variables.scss';

.container {
  width: 75%;
  @media (min-width: $layout-breakpoint-small) {
    padding: 1.5rem 0.5rem;
  }

  h4 {
    color: #1c6e8e;
    text-transform: capitalize;
    font-size: 1.1rem;
  }
  .qoutes {
    color: #fff;
    font-size: 2.2rem;
    height: 2rem;
  }
}
