@import '../../../styles/_variables.scss';
@import '../../../styles/_mixins.scss';

.container {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 27rem;
  margin: 3rem 0 3rem 0;
  background-color: $turquise-color;

  @media (min-width: $layout-breakpoint-small) {
    width: 90%;
  }

  h3 {
    font-family: $second-font-family;
    color: $dark-color;
    font-size: 2rem;
    font-weight: 400;
    margin: 1.5rem 0 0 0;
  }
  section {
    @include flexCenter;
  }

  .link {
    position: absolute;
    bottom: 3%;
  }
}

