@import '../../styles/_variables.scss';
@import '../../styles/mixins';

.landingpageContainer {
  @include flexCenter;
}
.linkContainer {
  @include flexCenter;
  justify-content: center;
  height: 5rem;
}
.img {
  width: 90%;
  height: auto;
  border: $image-border;
}
