@import '../../styles/_variables.scss';
@import '../../styles/mixins';

.landingpageContainer {
  @include flexCenter;
}
.linkContainer {
  @include flexCenter;
  justify-content: center;
  height: 5rem;

  .link,
  .menu {
    color: $red-color;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .link {
    font-size: 1.2rem;
  }
  .menu {
    font-size: 1.5rem;
  }
}
.img {
  width: 90%;
  height: auto;
  border: $image-border;
}
