// footers styles
.footerContainer {
  //background: url('../../images/pexels-pixabay-235985.jpg');
  background-color: #373737;
  color: #fff;
  padding: 1rem;
  margin: 0;
}

.logo {
  text-decoration: overline;
}
