@import '../../../styles/_variables.scss';

.container {
  width: 75%;
  @media (min-width: $layout-breakpoint-small) {
    padding: 0.5rem;
  }

  h4 {
    color: #1c6e8e;
    text-transform: capitalize;
  }
}
