@import '../../../styles/_variables.scss';

.btn {
  border: none;
  background: inherit;
  color: $red-color;
  text-transform: capitalize;

  @media (min-width: $layout-breakpoint-small) {
    font-size: 1.1rem;
  }
}
