$layout-breakpoint-small: 680px;

$font-family: "Oswald", sans-serif;
$second-font-family: "Damion", cursive;
$font-color: #373737;

$base-color: #e4daca;
$turquise-color: #e2ede9;
$dark-color: #373737;
$red-color: #c85935;

$image-border: 0.6rem solid #d6c6b0;
